<!DOCTYPE html>
<html>
  <head>
    <title>Browser Frame Mockup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./img/favicon.png">

    <script src="./vendors/vue/vue.min.js"></script>
    <script src="./vendors/jquery/jquery.min.js"></script>

    <script src="./vendors/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./vendors/semantic-ui/semantic.min.css">

    <link rel="stylesheet/less" type="text/css" href="./styles/styles.less" />
    <script>less = {env: 'production'};</script>
    <script src="./vendors/less/less.min.js"></script>
    
    <script src="./vendors/dom-to-img/dom-to-image.min.js"></script>
    <script src="./vendors/date-helper.js"></script>

    <script src="https://unpkg.com/http-vue-loader"></script>
  </head>
  <body>

    <div id="app">

      <div class="ui top fixed menu form"
           ref="Menu">
        <div class="item">
          <img src="./img/favicon.png">
        </div>
        <a class="item select">
          <select v-model="frameType">
            <option value="browser">Browser</option>
            <!-- <option value="phone">Phone</option> -->
            <option value="phone-portrait">Phone (Portrait)</option>
            <option value="phone-landscape">Phone (Landscape)</option>
            <option value="tablet-landscape">Tablet (Landscape)</option>
            <option value="tablet-portrait">Tablet (Portrait)</option>
          </select>
        </a>
        <a class="item" v-on:click="changeImage">
          <i class="image icon"></i>
          Change Image
        </a>
        <a class="item" v-show="isDevice">
          <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" class="hidden"
                     v-model="deviceDisplayNotificationBar">
              <label>Show Notification Bar</label>
            </div>
          </div>
        </a>
        <a class="item" v-on:click="saveImage">
          <i class="download icon"></i>
          Download
        </a>
      </div>
      
      <img v-bind:src="imgSrc" class="image-detector" ref="ImageDetector" />

      <div class="frame-container">
        
        <!-- ================================== -->
        
        
        
        <!-- ================================================= -->
        
        <frame-browser 
          ref="BrowserFrame" 
          v-if="frameType === 'browser'"
          v-on:click="saveImage">
        </frame-browser>
        
        <frame-phone 
          ref="PhoneFrame" 
          v-if="frameType === 'phone'"
          v-on:click="saveImage">
        </frame-phone>
        
        <frame-phone-portrait 
          ref="PhonePortraitFrame" 
          v-if="frameType === 'phone-portrait'"
          v-on:click="saveImage">
        </frame-phone-portrait>
        
        <frame-phone-landscape
          ref="PhoneLandscapeFrame" 
          v-if="frameType === 'phone-landscape'"
          
          >
        </frame-phone-landscape>
        
        <!-- ================================================= -->
        
        <div v-if="frameType === 'tablet-landscape'" class="tablet-landscape-frame frame" ref="TabletLandscapeFrame" v-on:click="saveImage">
          <div class="device-frame"></div>
          <img v-bind:src="imgSrc" />
        </div>
        
        <div v-if="frameType === 'tablet-portrait'" class="tablet-portrait-frame frame" ref="TabletPortraitFrame" v-on:click="saveImage">
          <div class="device-frame"></div>
          <img v-bind:src="imgSrc" />
        </div>
        
      </div>
      
      <input type="file" ref="ImageFile" class="image-file" v-on:change="changeImageFile" />
    </div>

    <!-- ================================================ -->
    
    <script src="./scripts/vue-app-computed.js"></script>
    <script src="./scripts/vue-app-data.js"></script>
    <script src="./scripts/vue-app-methods.js"></script>
    <script src="./scripts/vue-app-mounted.js"></script>
    <script src="./scripts/vue-app-watch.js"></script>
    <script src="./scripts/vue-app-components.js"></script>
    
    <script src="./scripts/vue-app.js"></script>
    
  </body>
</html>
