<!DOCTYPE html>
<html>
  <head>
    <title>Browser Frame Mockup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./img/favicon.png">

    <script src="./vendors/vue/vue.min.js"></script>
    <script src="./vendors/jquery/jquery.min.js"></script>

    <script src="./vendors/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./vendors/semantic-ui/semantic.min.css">

    <link rel="stylesheet/less" type="text/css" href="./styles/styles.less" />
    <script>less = {env: 'production'};</script>
    <script src="./vendors/less/less.min.js"></script>
    
    <script src="./vendors/dom-to-img/dom-to-image.min.js"></script>
    <script src="./vendors/date-helper.js"></script>

    <script src="https://unpkg.com/http-vue-loader"></script>
  </head>
  <body>

    <div id="app">

      <app-menu ref="AppMenu"></app-menu>
      <app-menu-config ref="AppMenuConfig"></app-menu-config>
      
      <img v-bind:src="imgSrc" 
           class="image-detector" 
           ref="ImageDetector"
           v-on:load="initImageSize" />

      <div class="frame-container"
           v-on:dragenter.stop.prevent="onDrop"
           v-on:dragover.stop.prevent="onDrop"
           v-on:dragleave.stop.prevent="onDrop"
           v-on:drop.stop.prevent="onDrop">
        
        <frame-browser 
          ref="BrowserFrame" 
          v-if="frameType === 'browser'"
          v-bind:class="{smaller: debug.smaller}">
        </frame-browser>
        
        <frame-phone 
          ref="PhoneFrame" 
          v-if="frameType === 'phone'"
          v-bind:class="{smaller: debug.smaller}">
        </frame-phone>
        
        <frame-phone-portrait 
          ref="PhonePortraitFrame" 
          v-if="frameType === 'phone-portrait'"
          v-bind:class="{smaller: debug.smaller}">
        </frame-phone-portrait>
        
        <frame-phone-landscape
          ref="PhoneLandscapeFrame" 
          v-if="frameType === 'phone-landscape'"
          v-bind:class="{smaller: debug.smaller}">
        </frame-phone-landscape>
        
        <frame-tablet-portrait 
          ref="TabletPortraitFrame" 
          v-if="frameType === 'tablet-portrait'"
          v-bind:class="{smaller: debug.smaller}">
        </frame-tablet-portrait>
        
        <frame-tablet-landscape 
          ref="TabletLandscapeFrame" 
          v-if="frameType === 'tablet-landscape'"
          v-bind:class="{smaller: debug.smaller}">
        </frame-tablet-landscape>
        
      </div>
      
      <input type="file" ref="ImageFile" class="image-file" v-on:change="changeImageFile" />
      <div class="save-image-container" ref="SaveImageContainer"></div>
    </div>

    <!-- ================================================ -->
    
    <script src="./scripts/vue-app-computed.js"></script>
    <script src="./scripts/vue-app-data.js"></script>
    <script src="./scripts/vue-app-methods.js"></script>
    <script src="./scripts/vue-app-mounted.js"></script>
    <script src="./scripts/vue-app-watch.js"></script>
    <script src="./scripts/vue-app-components.js"></script>
    
    <script src="./scripts/vue-app.js"></script>
    
  </body>
</html>
