
.browser-frame {
  
  .frame-image {
    line-height: 0;
    
    .frame-image-container {
      margin-left: auto;
      margin-right: auto;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  
  .frame-left-top {
    width: 280px;
    height: 80px;
    background-image: url(../img/frames/browser/google-chrome-light/left-top.png);
    background-repeat: no-repeat;
    
    min-width: 280px;
  }
  
  .frame-top {
    //width: 280px;
    height: 80px;
    background-image: url(../img/frames/browser/google-chrome-light/top.png);
    background-repeat: repeat-x;
    min-width: 30px;
  }
  
  .frame-right-top {
    width: 106px;
    min-width: 106px;
    height: 80px;
    background-image: url(../img/frames/browser/google-chrome-light/right-top.png);
    background-repeat: no-repeat;
  }
  
  .frame-left {
    width: 4px;
    min-width: 4px;
    //height: 80px;
    background-image: url(../img/frames/browser/google-chrome-light/left.png);
    background-repeat: repeat-y;
  }
  
  .frame-right {
    width: 4px;
    min-width: 4px;
    //height: 80px;
    background-image: url(../img/frames/browser/google-chrome-light/right.png);
    background-repeat: repeat-y;
  }
  
  .frame-right-bottom {
    width: 4px;
    height: 4px;
    background-image: url(../img/frames/browser/google-chrome-light/right-bottom.png);
    background-repeat: no-repeat;
  }
  
  .frame-left-bottom {
    width: 4px;
    min-width: 4px;
    height: 4px;
    background-image: url(../img/frames/browser/google-chrome-light/left-bottom.png);
    background-repeat: no-repeat;
  }
  
  .frame-bottom {
    //width: 280px;
    height: 4px;
    background-image: url(../img/frames/browser/google-chrome-light/bottom.png);
    background-repeat: repeat-x;
  }
  
  // ---------------------------
  
  .scrollbar.horizontal.container {
    height: 17px;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: visible;
    background-color: white;
    
    
    /*
    &.vertical-scroll-visible {
      margin-right: 10px;
    }
    */
    .scrollbar.horizontal {
      width: 300%;
      height: 1px;
    }
  }
  
  .frame-vertical-scrollbar-container {
    background-color: #DCDCDC;
    vertical-align: top;
    
    .scrollbar.vertical.container {
      width: 17px;
      min-width: 17px;
      max-height: 100%;
      overflow-y: visible;
      overflow-x: hidden;

      background-color: white;

      .scrollbar.vertical {
        height: 300%;
        width: 1px;
      }
    }
  }
  
}