body {
  overflow: hidden;
}

.image-file {
  display: none;
}

.frame-container {
  @marginTop: 55px;
  
  //margin-top: @marginTop;
  width: 100vw;
  max-width: 100vw;
  max-height: calc(100vh - @marginTop);
  overflow: auto;
  padding: 2rem;
  text-align: center;
  
  position: fixed;
  top: @marginTop;
}

.frame {
  display: inline-block;
  cursor: pointer;
  
  &.smaller {
    transform: translate(-25%, -25%) scale(0.5);
  }
}

.image-detector {
  position: fixed;
  top: 110vh;
  left: 110vw;
}

@import "./import.less";